     <div *ngIf="item.completed===false" #myElement>
        <div class="content title is-4">
        <p>
         <strong>  {{ item.title }}</strong> 
        </p>
      </div>
    <nav class="level">
      <div class="level-left">
        <a class="level-item">
          <input type="checkbox" #chkbox  (click)="setCompleted(item, chkbox.checked)">
        </a>
        <div class="level-item">
          <span> {{item.completed ? 'Is Done' : 'Working on it' }}</span>
        </div>
        <div class="level-item">
          <a (click)="myElement.remove()"> x </a>
        </div>
      </div>
    </nav>
    <br>
    </div>
    